@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* Globales */
body{
    font-family: 'Raleway', sans-serif;
    background-color: #F2F2F2;
}

.contenedor{
    max-width: 1480px;
    margin: 0 auto;
}

img{
    max-width: 100%;
    display: block;
}

.btn{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    color: #ffffff;
    font-size: 20px;
    background: #595959;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

a{
    text-decoration: none;
}

/* Hero / header */
header{
    height: 100vh;
    background-image: url(../img/interior.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
/* menu */
.menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 450px;
    height: 100vh;
    z-index: 10;
    transform: translateX(100%);
    transition: all 0.2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.menu__lista{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    height: 100%;
    width: 100%;
    gap: 4rem;
}

.menu__link{
    display: block;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: #262626;
    text-align: center;
    padding: 15px 20px;
    transition: all .3s;
    position: relative;
}

.menu__link::after{
    content: '';
    display: block;
    margin-top: 10px;
    height: 2px;
    width: 0%;
    background-color: #8c8c8c;
    transition: all 0.3s;
}

.menu__link:hover::after{
    width: 100%;
}

/* Menu-btn */
.close{
    display: none;
}

.menu-btn{
    position: fixed;
    top: 3%;
    right: 3%;
    border: none;
    padding: 10px 15px;
    width: 55px;
    background-color: #ffffff;
    z-index: 15;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.open{
    font-size: 1.8rem;
    color: #484848;
}

.opened{
    transform: translateX(0%);
}

.close.close-on{
    display: block;
    font-size: 1.8rem;
    color: #484848;
}

.open.open-off{
    display: none;
}
/* texto header */
.bg-texto-header{
    max-width: 500px;
    width: 50%;
    height: 80%;
    position: relative;
    top: 7%;
    left: 5%;
    background-color: #1e1e1eeb;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.texto-header{
    display: flex;
    flex-direction: column;
    background-color: #fffffff7;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 3%;
    left: 5%;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.texto-header__titulo{
    font-size: 4.2rem;
    color: #484848;
    font-weight: 300;
    text-align: center;
}

.bold-border{
    font-weight: 700;
    border-bottom: 2px solid #484848;
}

.texto-header__parrafo{
    font-size: 1.2rem;
    font-weight: 500;
    color: #222;
    padding: 0 2rem;
    line-height: 1.8rem;
    text-align: center;
}

.btn--header{
    padding: 15px 40px;
    font-weight: 600;
    border: 1px solid #4a4a4a;
    background-color: transparent;
    transition: all .3s;
    color: #262626;
}

.btn--header:hover{
    background-color: #262626;
    color: #fff;
}

/* sobre nosotros */
.sobre__nosotros{
    padding: 5rem 0.5rem;
}

.nosotros{
    display: grid;
    grid-template-columns: repeat(2,minmax(min-content,max-content));
    gap: 5rem;
}

.nosotros__thumbnail{
    position: relative;
    background-color: #686868;
    max-height: 450px;
}

.nosotros__img{
    position: relative;
    left: 15px;
    top: 25px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.nosotros__titulo{
    font-size: 2.5rem;
    font-weight: 400;
    color: #262626;
}

.nosotros__parrafo{
    font-weight: 500;
    font-size: 18px;
    line-height: 2rem;
    color: #262626;
}

/* Nuestros Servicios */
.nuestros-servicios{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #F2F2F2;
    position: relative;
}

.h2-center{
    font-size: 2.5rem;
    font-weight: 400;
    color: #262626;
    text-align: center;
    margin-bottom: 4.5rem;
}

.servicios{
    display: flex;
    gap: 3rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.servicios__contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    max-width: 300px;
    max-height: 450px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.servicios__img{
    width: 100%;
    object-fit: cover;
}

.servicios__titulo{
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    color: #262626;
    margin-bottom: 1rem;
}

.servicios__parrafo{
    text-align: center;
    line-height: 1.5rem;
    font-weight: 500;
    color: #262626;
    padding: 0 2rem;
}

.btn--servicios{
    font-size: 18px;
    position: relative;
    top: 4%;
    font-weight: 500;
}

/* Servicios 2 */
.bg-absolute{
    background-color: #262626;
    position: relative;
    width: 40%;
    height: 610px;
    left: 0;
}

.servicios-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    gap: 4rem;
    top: 150px;
    justify-items: center;
    width: 100%;
}

.servicios-grid__thumbnail{
    height: 450px;
    position: relative;
    left: 5%;
}

.servicios-grid__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-tarjeta{
    height: 400px;
    width: 300px;
    background-color: #8c8c8c;
}

.tarjeta{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    position: relative;
    top: 5%;
    left: 7%;
    padding: 1rem 2rem;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.tarjeta__titulo{
    font-size: 1.7rem;
    color: #262626;
}

.tarjeta__parrafo{
    font-weight: 500;
    line-height: 1.6rem;
    color: #262626;
}

.btn--tarjeta{
    font-size: 18px;
    font-weight: 500
}

/* Galeria */
.section-galeria{
    padding: 2rem 0.5rem;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    gap: 0.5rem;
}

.galeria__img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform .3s;
}

.galeria__item:nth-child(1){
    grid-column: span 2;
}

.galeria__item:nth-child(2){
    grid-column: span 2;
}

.galeria__item:nth-child(3){
    grid-row: 1/3;
    grid-column: 3/5;
}

.galeria__item:nth-child(4){
    grid-row: span 2;
    grid-column: span 2;
}

.galeria__item:nth-child(5){
    grid-column: span 2;
}

.galeria__item:nth-child(8){
    grid-column: 3/5;
    grid-row: span 2;
}

.galeria__item:nth-child(9){
    grid-column: 1/3;
}

.galeria__item:nth-child(10){
    grid-column: 1/3;
    grid-row: 5/6;
}

.galeria__item{
    overflow: hidden;
}

.galeria__img:hover{
    transform: scale(1.3) ;
}

/* Footer Contacto */
footer{
    padding: 5rem 1rem;
}

.contacto{
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.contacto__contenedor{
    padding: 1rem;
    background-color: #fff;
}

.contacto__titulo{
    font-size: 2.5rem;
    font-weight: 400;
    color: rgb(64 64 64);
    text-align: center;
    margin-bottom: 4.5rem;
}

.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    padding: 0 1rem;
}

.form__nombre{
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #8C8C8C;
    color: #262626;
    font-size: 16px;
}

.form__correo{
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #8C8C8C;
    color: #262626;
    font-size: 16px;
}

.form__msj{
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #8C8C8C;
    color: #262626;
    font-size: 16px;
    resize: none;
}

.btn--form{
    text-align: center;
    margin: 1.5rem 0;
    transition: all .3s;
}

.btn--form:hover{
    background-color: #262626;
}

/* Contacto info */
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
    background-color: #383838;
    padding: 1.3rem;
    color: #fff;
    font-weight: 500;
}

.info__redes{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
}

.info__twitter,
.info__facebook,
.info__instagram{
    color: rgb(241 241 241);
}

.info__contacto{
    text-align: center;
}

.info__texto{
    text-align: center;
}

.info__parrafo,
.info__web,
.info__derechos{
    margin: 2rem 0;
}

/* Media Queries */

@media (max-width: 900px){
    .bg-texto-header{
        width: 70%;
    }
    
    .nosotros__parrafo{
        font-size: 16px;
    }
}

@media (max-width: 820px){
    /* header */
    .bg-texto-header {
        max-width: none;
        width: 100%;
        height: 100vh;
        position: static;
        background-color: #1e1e1e85;
        box-shadow: none;
    }

    .texto-header {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        height: 100%;
        align-items: center;
        justify-content: center;
        position: static;
        gap: 3rem;
        box-shadow: none; 
    }

    .texto-header__titulo ,
    .texto-header__parrafo,
    .btn--header{
        color: #ffffff;
    }

    .btn--header{
        border: 1px solid #ffffff;
    }

    .btn--header:hover {
        background-color: #ffffff;
        color: #282828;
    }

    .border-header{
        border-bottom: 2px solid #ffffff;
    }

    /* nosotros */
    .sobre__nosotros,
    .section-galeria,
    footer{
        padding: 3.5rem 0.5rem;
    }

    footer{
        padding-bottom: 1rem;
    }

    .nuestros-servicios{
        padding: 3.5rem 0;
    }

    .nosotros{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .nosotros__thumbnail{
        min-height: 300px;
        width: 90%;
        left: -8px;
    }

    .nosotros__img {
        position: relative;
        left: 15px;
        top: 25px;
        height: 100%;
        width: 100%;
        object-fit: cover;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    }

    .nosotros__texto{
        text-align: center;
    }

    /* servicios 2 */
    .bg-absolute{
        position: absolute;
        width: 100%;
        height: 670px;
    }

    .servicios-grid {
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        top: 0;
    }

    .servicios-grid__thumbnail{
        height: 450px;
        clip-path: polygon(100% 74%, 53% 100%, 0 74%, 0 0, 53% 0, 100% 0);
        left: 0;
    }

    .bg-tarjeta {
        position: relative;
        left: -8px;
        width: 80%;
    }

    .tarjeta{
        justify-content: space-evenly;
        height: 100%;
        top: 20px;
        left: 20px;
    }

    .tarjeta__titulo{
        margin: 1rem 0;
        font-size: 2rem;
    }

    .tarjeta__parrafo{
        font-size: 1rem;
    }

    .btn--tarjeta{
        font-size: 1.125rem;
    }

    /* Contacto */
    .contacto {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 480px){
    /* header */
    .texto-header__titulo {
        font-size: 2.7rem;
    }

    .texto-header__parrafo{
        font-size: 1.1rem;
    }

    .btn,
    .btn--servicios,
    .btn--tarjeta{
        font-size: 1rem;
    }

    .nosotros__titulo,
    .h2-center ,
    .contacto__titulo{
        font-size: 1.7rem;
    }

    .nosotros__parrafo,
    .servicios__parrafo,
    .tarjeta__parrafo{
        font-size: 0.938rem;
    }

    .servicios__titulo{
        font-size: 1.3rem;
    }

    .bg-tarjeta{
        width: 300px;
    }

    .tarjeta__titulo{
        font-size: 1.5rem;
    }

    .galeria{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 250px;
    }

    .galeria__item:nth-child(n){
        grid-column: initial;
        grid-row: initial;
    }

    .menu{
        width: 100%;
        box-shadow: none;
    }

    .menu__lista{
        justify-content: center;
    }

}