@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* Globales */
body{
    font-family: 'Raleway', sans-serif;
    background-color: #F2F2F2;
}

.contenedor{
    max-width: 1480px;
    margin: 0 auto;
}

img{
    max-width: 100%;
    display: block;
}

.btn{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    color: #ffffff;
    font-size: 20px;
    background: #595959;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

h2 span{
    border-bottom: 3px solid  #595959;
    font-weight: 700;
}

/* Hero / header */
header{
    height: 100vh;
    background-image: url(../img/interior.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
/* menu */
.menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 450px;
    height: 100vh;
    z-index: 10;
    transform: translateX(100%);
    transition: all 0.2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.menu-lista{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    height: 100%;
    width: 100%;
    gap: 4rem;
}

.menu-item a{
    display: block;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: #262626;
    text-align: center;
    padding: 15px 20px;
    transition: all .3s;
    position: relative;
}

.menu-item a::after{
    content: '';
    display: block;
    margin-top: 10px;
    height: 2px;
    width: 0%;
    background-color: #8c8c8c;
    transition: all 0.3s;
}

.menu-item a:hover::after{
    width: 100%;
}

/* Menu-btn */
.close{
    display: none;
}

.menu-btn{
    position: fixed;
    top: 3%;
    right: 3%;
    border: none;
    padding: 10px 15px;
    width: 55px;
    background-color: #ffffffeb;
    z-index: 15;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.open{
    font-size: 1.8rem;
    color: #484848;
}

.opened{
    transform: translateX(0%);
}

.close.close-on{
    display: block;
    font-size: 1.8rem;
    color: #484848;
}

.open.open-off{
    display: none;
}
/* texto header */
.bg-texto-header{
    max-width: 500px;
    width: 50%;
    height: 80%;
    position: relative;
    top: 7%;
    left: 5%;
    background-color: #1e1e1eeb;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.contenedor-texto-header{
    display: flex;
    flex-direction: column;
    background-color: #fffffff7;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 3%;
    left: 5%;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.contenedor-texto-header h1{
    font-size: 4.2rem;
    color: #484848;
    font-weight: 300;
    text-align: center;
}

.contenedor-texto-header span{
    font-weight: 700;
    border-bottom: 2px solid #484848;
}

.contenedor-texto-header p{
    font-size: 1.2rem;
    font-weight: 500;
    color: #222;
    padding: 0 2rem;
    line-height: 1.8rem;
    text-align: center;
}

.contenedor-texto-header .btn-header{
    padding: 15px 40px;
    font-weight: 600;
    border: 1px solid #4a4a4a;
    background-color: transparent;
    transition: all .3s;
    color: #262626;
}

.contenedor-texto-header .btn-header:hover{
    background-color: #262626;
    color: #fff;
}

/* sobre nosotros */
.nosotros{
    background-color: #F2F2F2;
    padding: 5rem 0.5rem;
}

.contenedor-sobre-nosotros{
    display: grid;
    grid-template-columns: repeat(2,minmax(min-content,max-content));
    gap: 5rem;
}

.texto-sobre-nosotros h2{
    font-size: 3rem;
    font-weight: 400;
    color: #262626;
}

.texto-sobre-nosotros p{
    font-weight: 400;
    font-size: 1.20rem;
    line-height: 2rem;
    color: #262626;
}

.img-sobre-nosotros{
    position: relative;
    background-color: #686868;
}

.img-sobre-nosotros img{
    position: relative;
    left: 3%;
    top: 6%;
    height: 25rem;
    object-fit: cover;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

/* Nuestros Servicios */
.nuestros-servicios{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #F2F2F2;
    position: relative;
}

.nuestros-servicios h2{
    font-size: 3rem;
    font-weight: 400;
    color: #262626;
    text-align: center;
    margin-bottom: 4.5rem;
}

.servicios-flex{
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
}

.servicio-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    max-width: 300px;
    max-height: 450px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.servicio-contenedor img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.servicios-texto h3{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: #262626;
    margin-bottom: 1rem;
}

.servicios-texto p{
    text-align: center;
    line-height: 1.5rem;
    font-weight: 400;
    color: #262626;
    padding-left: 3rem;
    padding-right: 3rem;
}

.servicio-contenedor a{
    font-size: 18px;
    position: relative;
    top: 4%;
    font-weight: 500;
}

/* Servicios 2 */
.background-black-absolute{
    background-color: #262626;
    position: relative;
    width: 40%;
    height: 610px;
    left: 0;
}

.servicios-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    gap: 4rem;
    top: 150px;
    justify-items: center;
    width: 100%;
}

.servicio-img{
    height: 450px;
    position: relative;
    left: 5%;
}

.servicio-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tarjeta-background{
    height: 400px;
    width: 300px;
    background-color: #8c8c8c;
}

.servicio-tarjeta{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 400px;
    width: 300px;
    background-color: #fff;
    position: relative;
    top: 5%;
    left: 7%;
    padding: 1rem 2rem;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.servicio-tarjeta h3{
    font-size: 1.7rem;
    color: #262626;
}

.servicio-tarjeta p{
    font-weight: 500;
    line-height: 1.6rem;
    color: #262626;
}

/* Galeria */
.galeria{
    padding: 5rem 0.5rem;
}

.galeria h2{
    font-size: 2.7rem;
    text-align: center;
    font-weight: 400;
    color: #262626;
    margin-bottom: 4.5rem;
}

.contenedor-galeria{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    gap: 0.5rem;
}

.galeria-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.galeria-img:nth-child(1){
    grid-column: span 2;
}

.galeria-img:nth-child(2){
    grid-column: span 2;
}

.galeria-img:nth-child(3){
    grid-row: 1/3;
    grid-column: 3/5;
}

.galeria-img:nth-child(4){
    grid-row: span 2;
    grid-column: span 2;
}

.galeria-img:nth-child(5){
    grid-column: span 2;
}

.galeria-img:nth-child(8){
    grid-column: 3/5;
    grid-row: span 2;
}

.galeria-img:nth-child(9){
    grid-column: 1/3;
}

.galeria-img:nth-child(10){
    grid-column: 1/3;
    grid-row: 5/6;
}